= form_for @event do |f|
  .field
    = f.label 'What'
    = f.text_field :title, {:placeholder => 'Mt. Sutro Trail Work Day'}
  .field
    = f.label :where
    = f.text_field :where, {:placeholder => '100 Medical Center Way, Woods Lot'}
  .field
    = f.label :when
    = f.text_field :when, {:placeholder => 'Next Saturday at 9am'}
  .actions
    = f.submit 'Go'
