- title("#{@event.title} - #{@event.time.to_s(:mdy)}")
- body('one-col details')

.details
  .inside
    %h1
      = @event.title
    %h2
      = @event.time.to_s(:pretty)
    %p
      = @event.description
    %p
      = @event.location.address

.actions
  .inside
    %p
      %button.action RSVP
      %button.action.yellow Invite
      %button.action.blue Print
    %p
      = image_tag("https://chart.googleapis.com/chart?chs=75x75&cht=qr&chl=http://#{request.domain}#{request.fullpath}&choe=UTF-8")
    
= render :partial => 'shared/map', :locals => {:features => [@event].collect{|e| e.to_feature}.to_json}
  
- if current_user.owns?(@event)
  = link_to 'Edit', edit_event_path(@event)