- title("#{@event.title} - #{@event.time.to_s(:mdy)}")

%p
  %b Title:
  = @event.title
%p
  %b Description:
  = @event.description
%p
  %b When:
  = @event.time.to_s(:pretty)

%p
  %b Where:
  = @event.location.address
  = "#{@event.location.latitude}, #{@event.location.longitude}"
  = render :partial => 'shared/map', :locals => {:features => [@event].collect{|e| e.to_feature}.to_json}
  
%p
- if current_user and current_user === @event.user
  RSVP 
  - #= render 'invite_form'
- else 
  = render 'rsvp', :locals => {:event => @event}
  
= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
