%p#notice= notice

%p
  %b Title:
  = @event.title
%p
  %b Description:
  = @event.description
%p
  %b When:
  = @event.time

%p
  %b Where:
  = @event.location.address
  = "#{@event.location.latitude}, #{@event.location.longitude}"
  
%p
- if current_user and current_user === @event.user
  RSVP 
  - #= render 'invite_form'
- else 
  = render 'rsvp', :locals => {:event => @event}
  
= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
